body {
    padding: 10px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    color: #333;
    background-color: #ddd;
}
#breadcrumbs {
    background-color: #eeeeee;
    margin: auto;
    margin-bottom: 1em;
    padding-top: .2em;
    padding-bottom: .2em;
    padding-left: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
#dashboard {
    background-color: #eeeeee;
    margin: auto;
    margin-bottom: 1em;
    padding-top: .2em;
    padding-bottom: .2em;
    padding-left: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
#page {
    background-color: #eeeeee;
    margin: auto;
    margin-bottom: 1em;
    padding-top: 0.5em;
    padding-bottom: .2em;
    padding-left: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
#footer {
    clear: both;
    padding-top: 2em;
    text-align: center;
    padding-right: 160px;
    font-size: 10px;
}
.toc {
    font-size: 14px;
    margin-bottom: 1em;
    margin-left: 1em;
}
.desc {
    font-size: 14px;
    margin-left: 2em;
    margin-bottom: 1em;
}
.moduleLink {
    font-size: 18px;
    font-weight: bold;
}
.dbStatGood {
    background-color: #dadaff;
    padding-left: 5px;
    padding-right: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
.dbStatWarn {
    background-color: #daaada;
    padding-left: 5px;
    padding-right: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
h1 {
    font-size: 24px;
}
h2 {
    font-size: 18px;
}
h1, h2, h3, h4, h5 {
    font-family: sans-serif;
    margin: 1.2em 0 0.6em 0;
}
a  {
    color: #03c
}
a:hover {
    background-color: #03c;
    color: white;
    text-decoration: none;
}
table {
    text-align: left;
    margin-left: 5%;
    vertical-align: top;
    border-right: 1px solid #777777;
    border-left: 1px solid #777777;
    border-bottom: 1px solid #777777;
    width: 90%;
    font-size: 12px;
}
table thead tr th {
    padding-left: 4px;
    padding-right: 15px;
    background-color: #ccc;
    border-color: #777777;
    border-bottom: 3px solid #777777;
}
table tr:nth-child(even) {
    color: #333;
    background-color: #ddd;
}
table tr:nth-child(odd) {
    color: #333;
    background-color: #efefef;
}
